/* You can add global styles to this file, and also import other style files */
// FONTS                        //
// ---------------------------- //
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(~assets/font/Roboto-Light.ttf),
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~assets/font/Roboto-Regular.ttf),
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(~assets/font/Roboto-Bold.ttf),
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~assets/font/SpaceMono-Regular.ttf),
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(~assets/font/SpaceMono-Bold.ttf),
}

// CORE                         //
// ---------------------------- //
@import 'mixins/mixins';
@import 'global/variables';
@import 'global/reset';
@import 'global/base';

// COMPONENTS                   //
// ---------------------------- //

@import 'ui/typewritter';
@import 'ui/window';
@import 'ui/section';

